<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerEdgeUtilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerEdgeUtilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PowerEdgeUtilities.Properties.Settings>
            <setting name="_config_target_temp" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="_config_min_fanspeed" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="_config_idrac_ip" serializeAs="String">
                <value>192.168.1.200</value>
            </setting>
            <setting name="_config_idrac_username" serializeAs="String">
                <value />
            </setting>
            <setting name="_config_idrac_password" serializeAs="String">
                <value />
            </setting>
            <setting name="_config_delay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="_config_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_config_startup" serializeAs="String">
                <value>False</value>
            </setting>
        </PowerEdgeUtilities.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PowerEdgeUtilities.Properties.Settings>
            <setting name="_config_version" serializeAs="String">
                <value>v1.01</value>
            </setting>
        </PowerEdgeUtilities.Properties.Settings>
    </applicationSettings>
</configuration>